<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<h1>글 목록</h1>
<div th:each="article : ${articles}">
    <a th:href="@{/articleDetail(id=${article.id})}">
        <h2 th:text="'제목: ' + ${article.title}"></h2>
    </a>
    <a th:href="@{/articleDetail(id=${article.id})}">
        <h2 th:text="'내용: ' + ${article.description}"></h2>
    </a>
    <p th:text="'작성자: ' + ${article.member.name}"></p>
    <p th:text="'작성 시간: ' + ${article.timestamps.createdDate}"></p>
</div>
<a th:href="@{/deletedArticleList}">휴지통</a>
<div th:replace="fragments/footer :: footer" />
</body>
</html>