<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<h1>글 목록</h1>
<div th:each="article : ${articles}">
    <h2 th:text="'제목: ' + ${article.title}"></h2>
    <p th:text="'내용: ' + ${article.description}"></p>
    <p th:text="'작성자: ' + ${article.member.name}"></p>
    <p th:text="'작성 시간: ' + ${article.timestamps.createdDate}"></p>
</div>
<div th:replace="fragments/footer :: footer" />
</body>
</html>