<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<div class="container">
    <h1>글 목록</h1>
    <br/>
    <div th:each="articleDto : ${articleDtos}">
        <div class="d-flex flex-column">
            <span class="fw-semibold" th:text="${articleDto.author}"></span>
            <p class="fw-light text-black-50" style="font-size:0.8rem" th:text="${#temporals.format(articleDto.createdDate,'yyyy. MM. dd')}"></p>
        </div>
        <a class="link-dark" th:href="@{/articleDetail(id=${articleDto.id})}">
            <h2 th:text="${articleDto.title}">제목</h2>
        </a>
        <a class="d-block text-truncate link-secondary" style="max-height:150px;" th:href="@{/articleDetail(id=${articleDto.id})}">
            <div class="text-truncate" th:utext="${#strings.replace(articleDto.description, '&#10;', '&lt;br /&gt;')}"></div>
        </a>
        <hr/>
    </div>
    <a th:href="@{/deletedArticleList}">휴지통</a>
<div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>