<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>상세 보기</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<h1>상세 보기</h1>
<div>
    <h2 th:text="'제목: ' + ${article.title}"></h2>
    <p th:text="'내용: ' + ${article.description}"></p>
    <p th:text="'작성자: ' + ${article.member.name}"></p>
    <p th:text="'작성 시간: ' + ${article.timestamps.createdDate}"></p>
    <p th:text="'수정 시간: ' + ${article.timestamps.updatedDate}"></p>
    <p th:text="'방문자 수: ' + ${article.visitCount}"></p>
    <p th:if="${session.id} == ${article.member.id}">
        <a th:href="@{/update(id=${article.id})}">글 수정</a>
        <a th:href="@{/delete(id=${article.id})}">글 삭제</a>
    </p>
</div>
<div th:replace="fragments/footer :: footer" />
</body>
</html>