<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>글 수정</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<div class="container">
<h1>글 수정</h1>
<form action="#" th:action="@{/update(id=${articleId})}" th:object="${articleForm}" method="post">
    <label class="form-label">제목:</label>
    <input class="form-control" type="text" th:field="*{title}" />
    <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</p>
    <br>
    <label class="form-label">내용: </label>
    <textarea class="form-control" style="height:500px" th:field="*{description}"></textarea>
    <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
    <br>
    <div class="d-flex w-100 justify-content-end">
        <input class="btn btn-light" type="submit" value="수정" />
    </div>
</form>
<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
<div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>